tables:
  accounts:
    columns:
      current_sign_in_ip: ipv4_public
      last_sign_in_ip: ipv4_public
      username: user_name
      email: company_email

  awards:
    columns:
      student_full_name: name
      centre_name: company
      qualification_name: catch_phrase
      qualification_code: random_int
      qualification_accreditation_number: random_int

  qualifications:
    columns:
      accreditation_number: random_int
      name: catch_phrase
      short_name: catch_phrase
      description: bs
      summary: bs
      price: random_int

  candidates: truncate

  centres:
    columns:
      name: company
      code: empty
      tel: empty
      email: company_email
      website: uri

  exam_centres:
    columns:
      name: company
      tel: empty
      email: company_email
      town: city
      website: uri

  transactions:
    columns:
      cheque_number: empty
      recorded_name: empty
      card_transaction_number: empty
      nominal_reference_number: empty
      tcv_number: empty
      bacs_reference: empty
      notes: empty

  people:
    columns:
      firstname: first_name
      surname: last_name
      salutation: prefix
      fullname: name
      gender: empty
      email: company_email
      dob: date_of_birth
      phone: empty
      phone0: empty

  addresses:
    columns:
      line1: empty
      line2: empty
      town: empty
      city: empty
      postcode: empty

  reasonable_adjustments:
    columns:
      application_details: empty
      application_requirements: empty
      internal_notes: empty

  schedule_of_works:
    columns:
      nominal_code: empty
      notes: empty

  examiners:
    type: update
    columns:
      emc_1_title: prefix
      emc_1_forename: first_name
      emc_1_surname: last_name
      emc_1_email: company_email
      emc_2_title: prefix
      emc_2_forename: first_name
      emc_2_surname: last_name
      emc_2_email: company_email

  notes:
    columns:
      notes_text: bs

  _OLD_RAD: truncate

  oauth_access_tokens: truncate
  oauth_access_grants: truncate
  oauth_applications: truncate
  broadcasts: truncate

  payment_gateways: truncate

  ra_attachments:
    columns:
      filename: file_name
      file_path: file_path

  report_email_queue:
    columns:
      email_address: company_email